@import "tailwindcss";
@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
  font-family: "Roboto", sans-serif;
}

.swiper-pagination {
  margin-top: 10px;
  position: relative !important;
}

.swiper-pagination-bullet-active {
  background: #ea207e !important;
}

.swiper-button-disabled {
  opacity: 0 !important;
  pointer-events: none;
}
